<header>
    <div class="head">
        <h1 class="browser-title">Professions</h1>
        <p>
            Professions represent the skills your character maintains as they begin their adventure.
        </p>
    </div>
    <div class="input">
        <input type="text" class="list-input" id="list-input"></input>
        <button class="filter-button" title="Filter Results">Filter</button>
    </div>
    <div class="list-header">
        <label class="name" data-sort="name">Name</label>
        <label data-sort="ability">Ability Bonus</label>
    </div>
</header>
<ul class="list" id="item-list">
    {{> "./templates/browse/parts/professions-list.hbs"}}
</ul>