<div class="roll-tag">
    <span class="name">
        Price:
    </span>
    {{system.price}} gp
</div>
<div class="roll-tag">
    <span class="name">
        Weight:
    </span>
    {{system.weight}} lbs.
</div>
<div class="roll-tag">
    <span class="name">
        Rarity:
    </span>
    {{system.rarity}}
</div>