/* general info */
/* colors for elements */
.celestus .physical {
    background-color: var(--color-physical-bg);
}

.celestus .fire {
    background-color: var(--color-fire-bg);
}

.celestus .water {
    background-color: var(--color-water-bg);
}

.celestus .air {
    background-color: var(--color-air-bg);
}

.celestus .earth {
    background-color: var(--color-earth-bg);
}

.celestus .poison {
    background-color: var(--color-poison-bg);
}

.celestus .psychic {
    background-color: var(--color-psychic-bg);
}

.celestus .piercing {
    background-color: var(--color-piercing-bg);
}

.celestus .shadow {
    background-color: var(--color-shadow-light);
}

.celestus .healing {
    background-color: var(--color-healing-bg);
}

.celestus .phys_armor {
    background-color: var(--color-phys_armor-bg);
}

.celestus .mag_armor {
    background-color: var(--color-mag_armor-bg);
}

.celestus .physical-dark {
    background-color: var(--color-physical-dark-bg);
}

.celestus .fire-dark {
    background-color: var(--color-fire-dark-bg);
}

.celestus .water-dark {
    background-color: var(--color-water-dark-bg);
}

.celestus .air-dark {
    background-color: var(--color-air-dark-bg);
}

.celestus .earth-dark {
    background-color: var(--color-earth-dark-bg);
}

.celestus .poison-dark {
    background-color: var(--color-poison-dark-bg);
}

.celestus .psychic-dark {
    background-color: var(--color-psychic-dark-bg);
}

.celestus .piercing-dark {
    background-color: var(--color-piercing-dark-bg);
}

.celestus .shadow-dark {
    background-color: var(--color-shadow-dark-light);
}

.celestus .healing-dark {
    background-color: var(--color-healing-dark-bg);
}

.celestus .phys_armor-dark {
    background-color: var(--color-phys_armor-dark-bg);
}

.celestus .mag_armor-dark {
    background-color: var(--color-mag_armor-dark-bg);
}

.celestus img {
    background-color: black;
    background: radial-gradient(circle, rgba(131, 0, 0, 1) 0%, rgba(55, 0, 0, 1) 0%, rgba(19, 0, 0, 1) 100%);
}

/* Skill descriptions */

.dice-flavor {
    border-bottom: thick solid var(--color-dark-6);
    border-top: thick solid var(--color-dark-6);
    background-color: var(--color-dark-2);
    padding: 0.4em;
}

.dice-flavor.ui-tooltip {
    border: thick solid var(--color-dark-6);
    background-color: var(--color-dark-2);
    padding: 0.4em;
    position: fixed;
}

.roll.description .summary {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5em;
    border-bottom: thin solid var(--color-light-1)
}

.roll.description .roll-icon {
    width: 35px;
    height: 35px;
    display: inline;
}

.roll.description header {
    position: relative;
}

.roll.description header i {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 60px;
    z-index: -1;
    opacity: 0.3;
}

.roll.description .name-stacked {
    font-family: "PT Serif", serif;
    vertical-align: top;
}

.roll.description .title {
    font-size: var(--font-size-32);
    font-weight: bold;
    color: var(--color-light-3);
}

.roll.description .subtitle {
    font-size: var(--font-size-20);
    font-style: italic;
    margin-top: -5px;
}

.roll.description .roll-tags {
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}

.roll-tag {
    color: white;
    border-radius: 6px;
    font-size: var(--font-size-14);
}

.roll-tag .name {
    padding-right: 0.1em;
    font-weight: bold;
    margin-bottom: 0.3em;
}

a.content-link {
    cursor: pointer;
    font-weight: bold;
    position: relative;
}

a.content-link:hover {
    text-decoration: underline;
}

.roll.description .flavor {
    font-size: var(--font-size-14);
}

.roll.description table {
    width: 100%;
}

.roll.description table td p {
    padding: 3px;
    font-size: var(--font-size-14);
}

.roll.description tbody tr:nth-child(even) {
    background-color: var(--color-dark-3);
}

/* AP and FP icons*/
.ap-icon {
    color: green;
    text-shadow: var(--text-outline-1);
    margin-right: 1px;
}

.fp-icon {
    color: gold;
    text-shadow: var(--text-outline-1);
    margin-right: 1px;
}