/* Font Face */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(17, 17, 17);
    color: white;

    background-image: url("../img/bg.webp");
    background-repeat: no-repeat;
    background-size: cover;

    /* variables */
    --font-size-10: 0.625rem;
    --font-size-11: 0.6875rem;
    --font-size-12: 0.75rem;
    --font-size-13: 0.8125rem;
    --font-size-14: 0.875rem;
    --font-size-15: 0.9375rem;
    --font-size-16: 1rem;
    --font-size-18: 1.125rem;
    --font-size-20: 1.25rem;
    --font-size-24: 1.5rem;
    --font-size-28: 1.75rem;
    --font-size-32: 2rem;
    --font-size-36: 2.25rem;
    --font-size-48: 3rem;
    --font-size-64: 4rem;
    --font-size-80: 5rem;


    --color-warm-1: #ee9b3a;
    --color-warm-2: #c9593f;
    --color-warm-3: #5d142b;
    --color-cool-3: #584a75;
    --color-cool-4: #302831;
    --color-cool-5: #0b0a13;
    --color-cool-5-25: rgba(11, 10, 19, 0.25);
    --color-cool-5-50: rgba(11, 10, 19, 0.5);
    --color-cool-5-75: rgba(11, 10, 19, 0.75);
    --color-cool-5-90: rgba(11, 10, 19, 0.9);
    --color-light-1: #f7f3e8;
    --color-light-2: #efe6d8;
    --color-light-3: #e7d1b1;
    --color-light-4: #d0b8a3;
    --color-light-5: #9f8475;
    --color-light-6: #816b66;
    --color-dark-1: #111;
    --color-dark-2: #222;
    --color-dark-3: #444;
    --color-dark-4: #555;
    --color-dark-5: #666;
    --color-dark-6: #777;

    --color-physical-bg: rgb(179, 192, 204);
    --color-fire-bg: rgb(219, 139, 112);
    --color-water-bg: rgb(134, 192, 223);
    --color-air-bg: rgb(156, 134, 223);
    --color-earth-bg: rgb(219, 166, 112);
    --color-poison-bg: rgb(201, 223, 134);
    --color-psychic-bg: rgb(223, 134, 223);
    --color-piercing-bg: rgb(223, 134, 134);
    --color-shadow-bg: rgb(144, 161, 213);
    --color-healing-bg: rgb(146, 226, 152);
    --color-phys_armor-bg: rgb(235, 204, 173);
    --color-mag_armor-bg: rgb(134, 223, 223);

    --color-physical-dark-bg: rgb(17, 18, 19);
    --color-fire-dark-bg: rgb(107, 0, 0);
    --color-water-dark-bg: rgb(0, 53, 82);
    --color-air-dark-bg: rgb(63, 36, 143);
    --color-earth-dark-bg: rgb(94, 69, 46);
    --color-poison-dark-bg: rgb(116, 150, 16);
    --color-psychic-dark-bg: rgb(121, 0, 121);
    --color-piercing-dark-bg: rgb(138, 32, 55);
    --color-shadow-dark-bg: rgb(34, 42, 68);
    --color-healing-dark-bg: rgb(51, 175, 61);
    --color-phys_armor-dark-bg: rgb(46, 24, 1);
    --color-mag_armor-dark-bg: rgb(0, 100, 100);

    --color-cream-50: rgba(250, 246, 239, 0.5);
    --color-tan: rgba(255, 231, 195);

    --shadow-bevel: inset 0.1em 0.1em 0.1em 0 rgba(255, 255, 255, 0.3), inset -0.1em -0.1em 0.1em 0 rgba(0, 0, 0, 0.3);
    --shadow-inset: inset 0.1em 0.1em 0.1em 0 rgba(0, 0, 0, 0.3), inset -0.1em -0.1em 0.1em 0 rgba(0, 0, 0, 0.3);

    --text-outline-1: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/* Navigation Bar */
.navigation {
    font-family: "Comfortaa", serif;
    font-optical-sizing: auto;
    font-style: normal;

    position: fixed;
    top: 0;
    width: calc(70vw - 5px);
    padding: 5px;
    padding-left: 30vw;
    padding-bottom: 5px;

    background-color: rgb(56, 56, 56);
}

.navigation .logo {
    width: 50px;
    height: 50px;
    vertical-align: bottom;
}

.navigation .title {
    font-size: 2em;
}

.navigation .subtitle {
    font-size: 1em;
    font-weight: lighter;
    font-style: italic;
}

/* Main content */
.content {
    top: 100px;
    bottom: 10px;
    position: fixed;
    left: calc(50vw - 1050px / 2);
    width: 615px;
    padding: 3px;
    border: thin solid var(--color-dark-6);
    border-radius: 5px;
    overflow: hidden;
    border-left: thin solid var(--color-dark-6);
}

/* Description */
.description {
    position: fixed;
    right: calc(50vw - 1050px / 2);
    top: 100;
    width: 400px;
}

/* Browser List */
.browser {
    cursor: pointer;
    pointer-events: all;
    display: flex;
    flex-direction: column;
    height: 100%;

    /* Make text not selectable */
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.list {
    flex: 1;
    pointer-events: all;
    overflow: scroll;
    scrollbar-width: none;
    background-color: var(--color-dark-2);
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    border-left: thin solid var(--color-dark-6);
    border-right: thin solid var(--color-dark-6);
}

.list-input {
    width: 100%;
    background-color: var(--color-dark-3);
    border: none;
    padding: 3px;
    margin-bottom: 10px;
    font-size: var(--font-size-14);
    border-bottom: thin white solid;
}

.input {
    position: relative;
    margin: 0px;
}

.input .filter-button {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 20px;
    height: 20px;
    background: none;
    color: white;
    border: none;

    text-shadow: black 0px 0px 8px;
    cursor: pointer;
}

.input .filter-button:hover {
    text-shadow: white 0px 0px 8px;
}

.list-header {
    font-family: "PT Serif", serif;
    width: 100%;
    background-color: var(--color-dark-3);
    border: none;
    font-size: var(--font-size-14);
    display: flex;
    flex-direction: row;
    border: thin solid var(--color-dark-6);
}

.list-header label {
    padding: 2px;
}

.list-header label:hover {
    box-shadow: var(--shadow-inset);
    outline: thin solid var(--color-dark-6);
}

.list-header label[data-direction="up"]::after {
    content: '\25B2';
}

.list-header label[data-direction="down"]::after {
    content: '\25BC';
}

.list-header label[data-selected="true"] {
    background-color: var(--color-dark-2);
}

.browser label {
    flex: 1;
    padding-right: 2px;
    padding-left: 4px;
}

.browser label.thin {
    flex: 0 0 35px;
    text-align: center;
}

.browser-item {
    pointer-events: all;
    font-weight: lighter;
    font-size: var(--font-size-13);
    background-color: var(--color-dark-2);
    padding: 3px;
    display: flex;
    flex-direction: row;
}

.browser-item:nth-child(odd) {
    background: var(--color-dark-3);
}

.browser-item.selected {
    font-weight: 700;
    background-color: var(--color-dark-1);
    border: 1px solid var(--color-light-1);
    padding: 2px;
}

.browser-item:hover {
    background-color: var(--color-dark-1);
}

.browser-item label {
    cursor: pointer;
}

.browser .name {
    font-weight: 600;
    flex: 2;
}

.popup-form {
    position: fixed;
    z-index: 1000;
    width: 1200px;
    height: 90vh;
    left: calc(50vw - 600px - 15px/2);
    top: 5vh;
    padding: 15px;
    background-color: var(--color-dark-2);
    overflow-x: hidden;
    margin: 0px;

    display: grid;
    grid-template-rows: auto 1fr auto;

    border-radius: 10px;
    border: double medium var(--color-light-1);

    scrollbar-width: thin;
    overflow-x: hidden;

    /* Make text not selectable */
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.popup-form header {
    position: sticky;
    top: 0px;
    left: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
    border-bottom: thin solid var(--color-light-1);
}

.popup-form header * {
    flex: 1;
}

.popup-form header h1 {
    font-size: var(--font-size-28);
    font-family: "PT Serif", serif;
    margin: 0px;
    padding: 0px;
}

.popup-form header button {
    flex: 0 0 25px;
    height: 25px;
    vertical-align: center;
}

.popup-form .form-submit {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    height: 40px;
    width: 100%;
    text-align: center;
    padding: bottom;
}

.popup-form .form-submit button {
    cursor: pointer;
    font-size: var(--font-size-20);
    padding: 5px 20px;
    font-family: inherit;
    border: thin solid white;
    border-radius: 5px;
}

.popup-form .form-submit button:hover {
    background-color: var(--color-cool-3);
    border-color: var(--color-dark-3);
    border-radius: 5px;
    color: white;
}

.popup-form .form-content {
    padding-bottom: 40px;
}

.popup-form .form-content h1 {
    margin-bottom: 10px;
    padding: 0px;
    font-size: var(--font-size-18);
    font-family: "PT Serif", serif;
}

.popup-form .form-section {
    border-bottom: thin solid var(--color-dark-6);
}

.popup-form .form-toggle {
    display: inline-block;
    background-color: var(--color-dark-3);
    margin: 3px;
    padding: 4px 8px;
    border-radius: 4px;
    min-width: 30px;
    text-align: center;
    border: thin solid var(--color-dark-6);
    cursor: pointer;
}

.popup-form .form-toggle:hover {
    background-color: var(--color-dark-4);
}

input[type=checkbox]:checked+label {
    background-color: var(--color-cool-3);
}

input[type=checkbox]:checked+label:hover {
    background-color: var(--color-cool-3);
}

.popup-form .hidden-check {
    opacity: 0;
    position: absolute;
    pointer-events: none;
}

.form-overlay {
    z-index: 900;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: var(--color-dark-6);
    opacity: 0.3;
}

/* Mobile Overrides */
@media screen and (max-width:1100px) {

    .content {
        position: fixed;
        left: 5vw;
        width: 90vw;
        overflow: auto;
        scrollbar-width: thin;
        overscroll-behavior: contain;
        background-color: var(--color-dark-2);
    }

    .description {
        position: static;
        width: auto;
        margin-bottom: 70vh;
    }

    .browser {
        height: 60vh;
        overflow: scroll;
        overflow-x: hidden;
    }

    .list-input,.filter-button {
        font-size: var(--font-size-24);
    }

    .popup-form {
        width: auto;
        margin: 20px;
        left: 0;
        top: 0;
    }

}