<h1 class="ul-aqua">Character Creation</h1>
<div class="section">
    <p>
        This article will cover the basics of character creation in Celestus.
    </p>
</div>
<div class="section">
    <h2 class="b-aqua">Origin</h2>
    <p>
        The first part of character creation is choosing character origin. Choose an
        <a class="content-link" data-uuid="Compendium.celestus.rules.1K7OPa5ikLITwkPK" data-id="1K7OPa5ikLITwkPK">
            Ancestry</a>,
        <a class="content-link" data-uuid="Compendium.celestus.rules.5kaokmq8N0pTvdOL" data-id="5kaokmq8N0pTvdOL">
            Background</a>, and
        <a class="content-link" data-uuid="Compendium.celestus.rules.1K7OPa5ikLITwkPK" data-id="1K7OPa5ikLITwkPK">
            Profession</a> to add to your character sheet.
        Use the compendiums tab to view full lists of the different character origin options.
    </p>
</div>
<div class="section">
    <h2 class="b-aqua">Starting Talent</h2>
    Choose one <a href="/browse/talents/?item=h9En6oDUdUPX3Cge">talent</a> to start with.
</div>
<div class="section">
    <h2 class="b-aqua">Civil &amp; Combat Abilities</h2>
    <p>
        At level one you have 1
        <a class="content-link" data-uuid="Compendium.celestus.rules.YLzjrNGr6Q1BXscc" data-id="YLzjrNGr6Q1BXscc">
            civil</a> and 2
        <a class="content-link" data-uuid="Compendium.celestus.rules.iuH7zrOpg909VkOR" data-id="iuH7zrOpg909VkOR">
            combat</a>
        <a class="content-link" data-uuid="Compendium.celestus.rules.qPKqRSLHKNvNUZ2A" data-id="qPKqRSLHKNvNUZ2A">
            ability points</a>
        to spend. Allocate these as you choose.
    </p>
</div>
<div class="section">
    <h2 class="b-aqua">Attributes</h2>
    <p>
        At level one you have 3
        <a class="content-link" data-uuid="Compendium.celestus.rules.3hjf9cfosUYnnxtP" data-id="3hjf9cfosUYnnxtP">
            attribute points</a> to spend as you choose.
    </p>
</div>
<div class="section">
    <h2 class="b-aqua">Starting Gear</h2>
    <p>
        You start off with one common piece of armor for each slot (only one ring total), then choose one of the
        following to receive:
    </p>
    <ul>
        <li>Two common one-handed weapons</li>
        <li>One common two-handed weapon</li>
        <li>One common one-handed weapon and a common shield</li>
    </ul>
</div>
<div class="section">
    <h2 class="b-aqua">Starting Skills</h2>
    <p>
        Choose 4 <a href="/browse/skills/">skills</a> to learn which you meet the prerequisites of.
    </p>
</div>
<div class="section">
    <h2 class="b-aqua">Languages</h2>
    <p>
        All characters are proficient in the Common language. Choose one additional language to be proficient in.
    </p>
    <table>
        <tbody>
            <tr>
                <td>
                    <h3>Language Name</h3>
                </td>
                <td>
                    <h3>Spoken By / Origin<h3>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Abyssal</p>
                </td>
                <td>
                    <p>The Deep</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Celestial</p>
                </td>
                <td>
                    <p>Angels / The Sky</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Derelict</p>
                </td>
                <td>
                    <p>The Void</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Draconic</p>
                </td>
                <td>
                    <p>Dragons</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Infernal</p>
                </td>
                <td>
                    <p>Fiends / Naraka</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Primal</p>
                </td>
                <td>
                    <p>Elementals</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Snaketongue</p>
                </td>
                <td>
                    <p>Thieves / Criminals</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Verdant</p>
                </td>
                <td>
                    <p>Fey / The Wilds</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>