<h1 class="ul-aqua">Foundry Visual Guide</h1>
<div class="section" id="you-can-always">
    This document will go over the Celestus specific foundry user interface elements, focusing mostly on the character
    sheet.
</div>
<h1 class="ul-amber collapse-header" id="charsheet" data-for="collapse-charsheet" title="Click to hide/show.">
    The Character Sheet
</h1>
<div class="collapsible active" id="collapse-charsheet">
    <div class="section">
        <div class="image-wide">
            <img src="/img/foundry-screenshots/full-sheet.webp">
            <div class="description">
                A screenshot of a Celestus character sheet in Foundry.
            </div>
        </div>
    </div>
    <h2 class="collapse-header b-amber" data-for="collapse-charinfo" id="charinfo" title="Click to hide/show.">
        Character Info / Header
    </h2>
    <div class="collapsible active" id="collapse-charinfo">
        <div class="section">
            <div class="image-wide section collapse-header" data-for="character-header-img"
                title="Click to hide/show image.">
                <div class="collapsible active" id="character-header-img">
                    <img class="active" src="/img/foundry-screenshots/character-header.webp" width="586">
                </div>
                <div class="description">
                    A screenshot of the character sheet header, it's bottom half is transposed beside the top half.
                </div>
            </div>
            <div>
                <h3 class="ul-amber">The Character Sheet Header</h3>
                <p class="no-bottom">
                    The character sheet header is a vertical scrollable element that contains the basic and essential
                    information about a character. The character sheet header is broken into seven sections:
                </p>
                <ul>
                    <li>Basic Info</li>
                    <li>Resources</li>
                    <li>Weapon Damage</li>
                    <li>Attributes</li>
                    <li>Resistances</li>
                    <li>Bonuses</li>
                    <li>Languages</li>
                </ul>
            </div>
            <div class="section paired-content">
                <div class="image-tall">
                    <img src="/img/foundry-screenshots/header/basic-info.webp" width="266" height="465" style="flex: 0">
                    <div class="description" style="width:266px">
                        A screenshot of the character sheet header's basic info section.
                    </div>
                </div>
                <div class="flex5">
                    <h3 class="ul-amber">Basic Info</h3>
                    <p>
                        The first section of the character sheet contains basic character info. This includes the
                        character's portrait, name, creature type, level, exhaustion, movement, and initiative.
                    </p>
                    <p>
                        The character portrait has a small gear icon in the bottom right corner. Clicking this
                        will open a configuration menu where you can toggle an optional portrait frame as well as change
                        the actor's token's pointer color.
                    </p>
                    <p>
                        The character name field is a text input field where you can input a character's
                        name. The 'creature type' field is a searchable dropdown that can be used to select the
                        creature's type from the list of all possible types.
                    </p>
                    <p>
                        Following the creature type is four individual labels containing various pieces of
                        information on the character.
                    </p>
                    <p>
                        The character level is an editable text field that can be changed to level up or down a
                        character. Changing its value will automatically alter any variables that are dependant on
                        character level.
                    </p>
                    <p>
                        The exhaustion level is also an editable text field which will automatically apply the
                        effects of exhaustion. Any exhaustion levels are automatically removed upon using the rest
                        button.
                    </p>
                    <p>
                        Both the movement and initiative fields are automatically calculated and cannot be directly
                        edited. Clicking the initiative will add the actor to combat and roll initiative.
                    </p>
                    <p>
                        Finally, there are three icons: refresh, rest, and combat. Hitting the refresh button will
                        trigger a standard refresh of resources for ending a scene (health, armor, normal
                        cooldowns). The second button triggers the effects of a rest. The third icon is an indicator of
                        whether or not the character is currently involved in a combat.
                    </p>
                </div>
            </div>
            <div class="section paired-content">
                <div class="image-tall" style="width:257px;">
                    <img src="/img/foundry-screenshots/header/resources.webp" width="257" height="206">
                    <div class="description">
                        A screenshot of the character sheet resources section.
                    </div>
                </div>
                <div class="flex5">
                    <h3 class="ul-amber">Resources</h3>
                    <p>
                        The second section in the character sheet header is the resources section.
                    </p>
                    <p>
                        <a class="content-link" data-uuid="Compendium.celestus.rules.32cncHbHLvecLYmw"
                            data-id="32cncHbHLvecLYmw">Action Points</a>
                        and
                        <a class="content-link" data-uuid="Compendium.celestus.rules.yraIEBlqV1ui6lpV"
                            data-id="yraIEBlqV1ui6lpV">Focus Points</a>
                        are visually represented and can be interacted with by clicking on their icons. Clicking an
                        action/focus point icon will set the character's current total to that value. If the character's
                        total is already at that value, it will lower it by one.
                    </p>
                </div>
            </div>
            <div class="section paired-content">
                <div class="image-tall" style="width:257px;">
                    <img src="/img/foundry-screenshots/header/weapon-damage.webp" width="257" height="160">
                    <div class="description">
                        A screenshot of the character sheet weapon damage breakdown.
                    </div>
                </div>
                <div class="flex5">
                    <h3 class="ul-amber">Weapon Damage</h3>
                    <p>
                        The weapon damage section provides a breakdown of a character's total weapon damage.
                        It contains a list of each damage type, shown as a minimum to maximum range as well as the
                        average damage in parentheses. The icons on the righthand side show which type each damage
                        component is. Hovering over these icons will display their type as written text.
                    </p>
                    <p>
                        At the bottom of this section is a single entry for the total combined weapon damage.
                    </p>
                </div>
            </div>
            <div class="section paired-content">
                <div class="image-tall" style="width:258px;">
                    <img src="/img/foundry-screenshots/header/attributes.webp" width="258" height="233">
                    <div class="description">
                        A screenshot of the character sheet attributes section.
                    </div>
                </div>
                <div class="flex5">
                    <h3 class="ul-amber">Attributes</h3>
                    <p>
                        The attributes section provides a breakdown of a character's
                        <a class="content-link" data-uuid="Compendium.celestus.rules.3hjf9cfosUYnnxtP"
                            data-id="3hjf9cfosUYnnxtP">Primary Attributes</a>.
                    </p>
                    <p>
                        At the top of the section is a display of a character's total unspent attribute points. This
                        will display as a negative if a player has overspent attribute points.
                    </p>
                    <p class="no-bottom">
                        Each attribute is displayed as a row with 5 components:
                    </p>
                    <ul>
                        <li>
                            The row starts with a label containing
                            the name of the attribute. Hovering over this name will display a tooltip that describes
                            what
                            that
                            <a class="content-link" data-uuid="Compendium.celestus.rules.S3EUjWbDbCFacOFo"
                                data-id="S3EUjWbDbCFacOFo">attribute</a>
                            is responsible for.
                        </li>
                        <li>
                            The name is followed by an input field that shows the character's base attribute value. This
                            is a text field and can be used to manually edit a character's base attributes in order to
                            spend attribute points.
                        </li>
                        <li>
                            After the base attribute value is the total of all bonuses affecting that attribute, be it
                            from statuses, features, or any other effect.
                        </li>
                        <li>
                            Next is the calculated attribute total after accounting for all features and effects.
                        </li>
                        <li>
                            Finally, there is a value enclosed in parentheses. This value represents the effective
                            modification coming from that attribute. Wits only displays the percentage for crit chance
                            as a character's initiative bonus is already displayed earlier on the sheet.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="section paired-content">
                <div class="image-tall" style="width:257px;">
                    <img src="/img/foundry-screenshots/header/resistances.webp" width="257" height="149">
                    <div class="description">
                        A screenshot of the character sheet resistances section.
                    </div>
                </div>
                <div class="flex5">
                    <h3 class="ul-amber">Resistances</h3>
                    <p>
                        The resistances section provides a list of a character's damage resistances and status
                        immunities.
                        Each damage resistance is displayed as the damage type and then the total resistance value.
                        Status immunities are listed by name.
                    </p>
                </div>
            </div>
            <div class="section paired-content">
                <div class="image-tall" style="width:257px;">
                    <img src="/img/foundry-screenshots/header/bonuses.webp" width="257" height="229">
                    <div class="description">
                        A screenshot of the character sheet bonuses section.
                    </div>
                </div>
                <div class="flex5">
                    <h3 class="ul-amber">Bonuses</h3>
                    <p>
                        The bonuses section displays many miscellaneous bonuses of a character. Each bonus is listed as
                        its name and final percentage.
                    </p>
                </div>
            </div>
            <div class="section paired-content">
                <div class="image-tall" style="width:257px;">
                    <img src="/img/foundry-screenshots/header/languages.webp" width="257" height="103">
                    <div class="description">
                        A screenshot of the character sheet languages section.
                    </div>
                </div>
                <div class="flex5">
                    <h3 class="ul-amber">Languages</h3>
                    <p>
                        the languages section lists all language proficiencies a character has. These can be modified by
                        clicking the gear icon in the top right corner of the section.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <h2 class="collapse-header b-amber" data-for="collapse-abilities" id="abilities" title="Click to hide/show.">
        Abilities
    </h2>
    <div class="collapsible active" id="collapse-abilities">
        <div class="image-wide section collapse-header" data-for="character-abilities-img"
            title="Click to hide/show image.">
            <div class="collapsible active" id="character-abilities-img">
                <img class="active" src="/img/foundry-screenshots/abilities-tab.webp" width="936" height="728">
            </div>
            <div class="description collapse-header" data-for="character-abilities-img">
                A screenshot of the character sheet abilities tab.
            </div>
        </div>
        <div class="section">
            <h3 class="ul-amber">The Character Abilities Tab</h3>
            <p>
                The abilities page is the first tab in the body of a character sheet. It lists all
                <a class="content-link" data-uuid="Compendium.celestus.rules.YLzjrNGr6Q1BXscc"
                    data-id="YLzjrNGr6Q1BXscc">civil</a> and
                <a class="content-link" data-uuid="Compendium.celestus.rules.iuH7zrOpg909VkOR"
                    data-id="iuH7zrOpg909VkOR">combat abilities</a>,
                as well as a list of all
                <a class="content-link" data-uuid="Compendium.celestus.rules.QbdFbQkWYH788N2x"
                    data-id="QbdFbQkWYH788N2x">"you can always"</a>
                options from a characters origin.
            </p>
            <div class="section paired-content">
                <div class="image-tall" style="width:262;">
                    <img src="/img/foundry-screenshots/abilities/you-can-always.webp" width="262" height="158">
                    <div class="description">
                        A screenshot of a character sheet's "You Can Always..." section, expanded.
                    </div>
                </div>
                <div class="flex5">
                    <h3 class="ul-amber">You Can Always...</h3>
                    <p>
                        At the top the abilities tab is a horizontal bar that says "You Can Always..." Clicking on this
                        bar will expand a dropdown that lists all "you can always" options granted to a character by
                        their origins. This can be used as a reference during play without needing to open each
                        individual feature.
                    </p>
                </div>
            </div>
            <div class="section">
                <h3 class="ul-amber">Ability Lists</h3>
                <p>
                    The majority of the ability tabs is filled out by lists of combat and civil abilities. The title of
                    each section will display the number of unspent or overspent ability points (if the character has
                    any). Hovering over an ability label will display a tooltip describing its purpose or effects.
                    Clicking on an ability label will open a dialog box prompting a roll of an
                    <a class="content-link" data-uuid="Compendium.celestus.rules.RhLk5CMny3L5KM6w"
                        data-id="RhLk5CMny3L5KM6w"> ability check</a>.
                </p>
                <p>
                    Following an ability label is an input that can be used to set a character's invested ability points
                    in that ability. Next is the character's total bonus to that ability. Following that is the
                    character's final ability value (after applying all bonuses). Finally, for combat abilities,
                    enclosed
                    in parenthesis is the character's total bonus they are receiving from that ability.
                </p>
            </div>
        </div>
    </div>
    <h2 class="collapse-header b-amber" data-for="collapse-skills" id="skills" title="Click to hide/show.">
        Skills
    </h2>
    <div class="collapsible active" id="collapse-skills">
        <div class="image-wide section collapse-header" data-for="character-skills-img"
            title="Click to hide/show image.">
            <div class="collapsible active" id="character-skills-img">
                <img class="active" src="/img/foundry-screenshots/skills-tab.webp" width="936" height="728">
            </div>
            <div class="description">
                A screenshot of the character sheet skills tab.
            </div>
        </div>
        <div class="section">
            <p>
                The skills page is the second tab on the character sheet and is broken into 3 sections: Always
                Memorized,
                Memorized, and Unmemorized. Each section lists all skills that can be currently described by that
                memorization category.
            </p>
            <div class="paired-content">
                <div class="image-tall">
                    <img src="/img/foundry-screenshots/skills/single-skill.webp" width="179" height="153">
                </div>
                <div class="flex5">
                    <h3 class="ul-amber">Parts of a Skill Entry</h3>
                    <p>
                        The most noticeable part of a skill is its icon, which can be used to quickly identify skills
                        in a list. Hovering over a skill's icon will render its description to the top right corner of
                        the screen.
                        Clicking on a skill's icon will bring up a dialog that allows you to use the skill. If a
                        skill requires more than one memory slot, there will be a number of gray brain icons to
                        represent the additional memory slots it costs. Each skill icon has a symbol in the bottom right
                        corner that shows which school it belongs to. If that skill is unmemorized, there will instead
                        be
                        a list of numbers and icons that describe its memorization requirements.
                    </p>
                    <p>
                        Below the skill's icon is the total
                        <a class="content-link" data-uuid="Compendium.celestus.rules.32cncHbHLvecLYmw"
                            data-id="32cncHbHLvecLYmw">action</a> and
                        <a class="content-link" data-uuid="Compendium.celestus.rules.yraIEBlqV1ui6lpV"
                            data-id="yraIEBlqV1ui6lpV">focus point</a> costs to use the skill.
                    </p>
                    <p>
                        Below the action / focus point cost is a span of skill controls. The brain icon can be used to
                        memorize or unmemorize a skill, the notepad can be used to open up the skill's item sheet to
                        edit it, and the trash can icon can be clicked to delete the skill. You can also right click the
                        skill's icon to open its item sheet.
                    </p>
                </div>
            </div>
            <h3 class="ul-amber">States of a Skill</h3>
            <p>
                If a memorized skill is currently unusable, the skill's icon will be darkened with an overlay placed
                atop it indicating its status.
            </p>
            <div class="paired-content">
                <div class="image-tall">
                    <img src="/img/foundry-screenshots/skills/cooldown-number.webp" width="83" height="84">
                </div>
                <div class="flex5">
                    <h4 class="amber">Cooldown</h4>
                    <p>
                        If a skill is on cooldown, there will be a large numeral overlayed on top of a stopwatch icon.
                        The number that is displayed is the skill's remaining cooldown in rounds.
                    </p>
                </div>
            </div>
            <div class="paired-content">
                <div class="image-tall">
                    <img src="/img/foundry-screenshots/skills/cooldown-rest.webp" width="84" height="84">
                </div>
                <div class="flex5">
                    <h4 class="amber">Extended Cooldown</h4>
                    <p>
                        If a skill has a cooldown that cannot be measured in rounds (e.g. a civil skill that only
                        becomes useable again after a rest, or a combat skill that only becomes useable at the end of a
                        scene) a circular sunset icon will be overlayed indicating that it cannot be used currently.
                    </p>
                </div>
            </div>
            <div class="paired-content">
                <div class="image-tall">
                    <img src="/img/foundry-screenshots/skills/cooldown-unavailable.webp" width="84" height="84">
                </div>
                <div class="flex5">
                    <h4 class="amber">Unavailable</h4>
                    <p>
                        If a skill is otherwise unavailable, a simple circle with a strikethrough will be overlayed on
                        top of the icon to indicate it is as such. Some reasons a skill might be unavailable include a
                        character being:
                        <a class="content-link" data-uuid="Compendium.celestus.rules.I9RkvpW5qGPRkeuv"
                            data-id="I9RkvpW5qGPRkeuv">silenced</a>,
                        <a class="content-link" data-uuid="Compendium.celestus.rules.ApravHaqi2H9tSn2"
                            data-id="ApravHaqi2H9tSn2">disarmed</a>, or otherwise incapacitated.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <h2 class="collapse-header b-amber" data-for="collapse-items" id="items" title="Click to hide/show.">
        Items
    </h2>
    <div class="collapsible active" id="collapse-items">
        <div class="image-wide section collapse-header" data-for="character-items-img"
            title="Click to hide/show image.">
            <div class="collapsible active" id="character-items-img">
                <img class="active" src="/img/foundry-screenshots/items-tab.webp" width="936" height="728">
            </div>
            <div class="description">
                A screenshot of the character sheet items tab.
            </div>
        </div>
        <div class="section">
            The items tab is where you can manage any physical inventory items your character might have. There are two
            main sections of the items tab. At the top is a large section displaying a character's currently
            equipped gear, the rest of the tab lists a character's items and currency.
        </div>
        <h3 class="ul-amber">Equipped Gear</h3>
        <p>
            The first section of the items tab is a large area that shows each equipment slot and what the
            character currently has equipped in that slot. Clicking on one of these slots opens a small popup wherein
            you can click on another piece of gear to equip it. Right clicking on a piece of gear in this
            section will open up its item sheet.
        </p>
        <h3 class="ul-amber">Currency</h3>
        <p>
            Below the equipped gear is a small section that lists each currency type and the character's current balance
            of that coinage. Hovering over the icon for a type of currency will show the coin type's name. Each
            currency has an input field that can be used to modify a character's current balance. Any math formulas
            entered will be automatically calculated. Starting an input with a plus or minus symbol will add
            or subtract that value from the character's total.
        </p>
        <h3 class="ul-amber">Inventory Lists</h3>
        <p>
            The rest of the items page consists of itemized lists of each type of equipment a character can have.
        </p>
        <h4 class="amber">Armor List</h4>
        <div class="image-wide section">
            <img src="/img/foundry-screenshots/items/armor.webp" width="835" height="565">
        </div>
        <p>
            The first inventory list is the armor list. The header describes the function of each column and at its end
            is a button that allows you to create a new armor item on the character sheet.
        </p>
        <p>
            Each item is represented as a row. At the beginning of each entry is the item's
            icon. Left clicking this icon will create a chat message describing the item, and right clicking it will
            open its item sheet. Beside the icon is the item's name. Clicking an item's name will drop down the item's
            description below it. The second column of an armor entry is its armor value, this is shown as its physical
            and magic armor values beside each other. The final column of an armor entry is the item controls. The
            shield icon can be used to equip or unequip a piece of armor, the notepad icon can be used to open its item
            sheet, and the trashcan icon can be used to delete it.
        </p>
        <h4 class="amber">Weapons List</h4>
        <div class="image-wide section">
            <img src="/img/foundry-screenshots/items/weapons.webp" width="836" height="134">
        </div>
        <p>
            The second inventory list is the weapons list. This list is functionally the same as the armor list except
            the value column displays a breakdown of the weapon's damage (calculated without damage bonuses).
        </p>
        <h4 class="amber">Offhands List</h4>
        <div class="image-wide section">
            <img src="/img/foundry-screenshots/items/offhands.webp" width="836" height="133">
        </div>
        <p>
            The third inventory list is the offhands list. It functions the exact same as the armor list.
        </p>
        <h4 class="amber">Consumables List</h4>
        <div class="image-wide section">
            <img src="/img/foundry-screenshots/items/consumables.webp" width="836" height="132">
        </div>
        <p>
            The fourth inventory list is the consumables list. It functions similarly to the lists before it except
            instead of having a value column it has a quantity column. There is a text field to input a quantity or you
            can use the plus and minus buttons beside the input to change the quantity.
        </p>
    </div>
    <h2 class="collapse-header b-amber" data-for="collapse-features" id="features" title="Click to hide/show.">
        Features
    </h2>
    <div class="collapsible active" id="collapse-features">
        <div class="image-wide section collapse-header" data-for="character-features-img"
            title="Click to hide/show image.">
            <div class="collapsible active" id="character-features-img">
                <img class="active" src="/img/foundry-screenshots/features-tab.webp" width="860" height="486">
            </div>
            <div class="description">
                A screenshot of the character sheet features tab.
            </div>
        </div>
        <div class="section">
            <p>
                The features page is similar in functionality to that of the items page. The features tab is split into
                three sections for organizational purposes.
            </p>
            <ul>
                <li>
                    <b>The Origins Section</b> lists all of a character's
                    <a class="content-link" data-uuid="Compendium.celestus.rules.8cfxxoH7Kydh4eW3"
                        data-id="8cfxxoH7Kydh4eW3">origin features</a>.
                </li>
                <li>
                    <b>The Talents Section</b> lists all of a character's
                    <a class="content-link" data-uuid="Compendium.celestus.rules.kzohdS6QcsMQWF8h"
                        data-id="kzohdS6QcsMQWF8h">talents</a>.
                </li>
                <li>
                    <b>The Features Section</b> lists any other special features a character has been granted.
                </li>
            </ul>
        </div>
    </div>
    <h2 class="collapse-header b-amber" data-for="collapse-biography" id="biography" title="Click to hide/show.">
        Biography
    </h2>
    <div class="collapsible active" id="collapse-biography">
        <div class="section">
            The biography page is inhabited by a single text editor one can use to store information about their
            character or save notes to their sheet throughout play.
        </div>
    </div>
    <h2 class="collapse-header b-amber" data-for="collapse-effects" id="effects" title="Click to hide/show.">
        Effects
    </h2>
    <div class="collapsible active" id="collapse-effects">
        <div class="image-wide section collapse-header" data-for="character-effects-img"
            title="Click to hide/show image.">
            <div class="collapsible active" id="character-effects-img">
                <img class="active" src="/img/foundry-screenshots/effects-tab.webp" width="899" height="488">
            </div>
            <div class="description">
                A screenshot of the character sheet effects tab.
            </div>
        </div>
        <div class="section">
            <p>
                The effects tab is similar in functionality and appearance to the inventory lists. The main difference
                is the center of each entry is occupied by the name of the origin of the effect and the effect's
                remaining duration. Additionally, the effect controls have a button to disable or enable an effect,
                rather than equip an item. As effects don't possess descriptions in the same way items do, left clicking
                an effect will not do anything.
            </p>
        </div>
    </div>
</div>
<h1 class="ul-aqua collapse-header" id="playing" data-for="collapse-playing" title="Click to hide/show.">
    Playing The Game
</h1>
<div class="collapsible active" id="collapse-playing">
    <h2 class="collapse-header b-aqua" data-for="collapse-hotbar" id="hotbar" title="Click to hide/show.">
        Setting Up Your Hotbar
    </h2>
    <div class="collapsible active" id="collapse-hotbar">
        <div class="image-wide section">
            <img src="/img/foundry-screenshots/hotbar-populated.webp" width="627" height="75">
            <div class="description">
                A screenshot of a player's hotbar filled out with different skills.
            </div>
        </div>
        <div class="section">
            <p>
                The hotbar or "macro bar" is a feature built into foundry that can allow players and GMs to quickly
                access parts of character sheets, especially skills. Clicking on a macro corresponding to a skill or
                item will achieve the same effect as clicking them on the character sheet. Hovering over a macro
                associated with an item or skill will show the skill / item's description in the top right corner of the
                play area.
            </p>
            <p>
                There are two main ways to add skills or items to a player's hotbar. One option is to individually drag
                skills and items from the character sheet onto the hotbar. The other method is to click the button with
                the brain icon that is beside the hotbar. Clicking this button will automatically populate your hotbar
                with all currently memorized skills. This function is especially useful for GMs who may want to quickly
                see and use skills known by NPCs without having to open their sheets.
            </p>
        </div>
    </div>
    <h2 class="collapse-header b-aqua" data-for="collapse-using-skill" id="using-skill" title="Click to hide/show.">
        Using a Skill
    </h2>
    <div class="collapsible active" id="collapse-using-skill">
        <div class="section">
            <p>
                Using a skill is one of the most common things you will do while playing a game of Celestus. The process
                for using a skill is fairly straightforward. For more information on skills, check out the
                <a href="/content/quickstart#skills">quickstart guide</a>.
            </p>
            <p>
                There are two ways to use a skill in Celestus: through the skills tab on a character's sheet, or by
                clicking the skill's macro on the hotbar while controlling the character's token. No matter how you
                initiate the process of using a skill, the rest of the process is the same.
            </p>
            <p>
                Once you click on a skill, you will first be prompted if you would like to use the skill's resources.
                Hitting no to this prompt will cause the skill to not consume action points or focus points. Skills will
                not consume action points regardless of which option you pick if the character is not currently in
                initiative. If for some reason the character is unable to use the skill, a warning will pop up in this
                message alerting the user of why the skill is unavailable. If you wish to use a skill that a character
                does not have the resources for or otherwise would be unable to use, you can always answer "no" to the
                use resources prompt. You can also answer "no" if you simply want to post the skill's description in
                chat. If you answer "no" to the use resources prompt, the chat message skill description will have a
                blue background to signify that no resources were spent.
            </p>
            <div class="paired-content section">
                <div class="image-tall">
                    <img src="/img/foundry-screenshots/skills/chat-message.webp" width="288" height="439">
                </div>
                <div class="flex5">
                    <h3 class="ul-aqua">The Chat Message</h3>
                    <p>
                        Once you have activated a skill, a message will be created in chat. This message will contain
                        the character who used the skill, the player responsible for that character using it,
                        a description of the skill, and buttons that can be used to perform its required actions.
                        The only users that can activate these buttons are those who have ownership over the
                        character that used the skill, or those with Game Master privileges.
                    </p>
                </div>
            </div>
            <div class="paired-content section">
                <div class="image-tall">
                    <img src="/img/foundry-screenshots/skills/attack-roll.webp" width="288" height="122">
                </div>
                <div class="flex5">
                    <h3 class="ul-aqua">Attack Rolls</h3>
                    <p>
                        Some skills may require an attack roll. In order to perform an attack roll, the attacker must
                        first target all tokens they are attempting to attack. To do so, either use the foundry
                        targeting tool or press t (or shift + t) while mousing over the token you would like to target.
                        Once you have targeted all characters you would like to attack, click the button that says "Roll
                        Attack".
                    </p>
                    <p>
                        Once an attack has been rolled, a chat message will be created showing the result. The outcome
                        of the attack will be automatically calculated and the color of the die result indicates whether
                        the attack hit (green), missed (red), or was a critical hit (blue).
                    </p>
                </div>
            </div>
            <div class="paired-content section">
                <div class="image-tall">
                    <img src="/img/foundry-screenshots/skills/damage-message.webp" width="288" height="245">
                </div>
                <div class="flex5">
                    <h3 class="ul-aqua">Damage Rolls</h3>
                    <p>
                        Some skills may have a damage component. To roll the damage of a skill, click the "Roll
                        Damage" button. The game will automatically roll the skill's damage dice and calculate the
                        applicable damage multipliers. Once the damage has been rolled, a chat message will be created
                        with the roll results as well as the damage total and a breakdown of each damage type and value.
                    </p>
                    <p>
                        You can apply skill damage to characters by selecting their token and clicking apply damage. If
                        you would like to apply damage with a multiplier you can click one of the multipliers below the
                        apply damage button instead. If you would like to only apply one damage component at a time, you
                        can hover over the damage component and click the damage multiplier you would like to apply
                        (clicking 1 will apply the base damage of that component).
                    </p>
                </div>
            </div>
            <div class="section">
                <h3 class="ul-aqua">Applying Status Effects</h3>
                <p>
                    Some skills apply status effects to their targets. In order to apply a skill's statuses, first
                    select all of the character's tokens you want to apply the statuses to, and then click "Apply
                    Statuses". The game will automatically check if the status will be resisted by armor, so there is no
                    need to manually check.
                </p>
                <h3 class="ul-aqua">Area of Effect Skills</h3>
                <p>
                    Some skills will specify an area they affect. For these skills, there will be a button
                    labeled "Draw Template". Clicking this button will create a template of the area of effect to follow
                    your cursor until you left click on the canvas (or right click to cancel). Once you click the
                    location you want to place the template, the game will create a temporary measured template on the
                    map showing the total area of effect of the skill. Some skills create surfaces. When this is the
                    case,
                    the game will instead create a special surface template that can apply effects or interact with
                    other surfaces. Be careful with surfaces as it can be difficult to undo their
                    effects once they have been placed.
                </p>
                <h3 class="ul-aqua">Complex Skills</h3>
                <p>
                    Some skills have extra complex effects to automate them. For example,
                    <a class="content-link" data-uuid="Compendium.celestus.skills.rrxB9WzXIzYMJUTW"
                        data-id="rrxB9WzXIzYMJUTW">Shed Skin</a> resets the cooldown of all combat abilities.
                    Because the automation of these skills is so out of the ordinary, they will have custom scripts to
                    be run. These scripts often have effects that are difficult to undo, so be extra careful when
                    executing them (the game will warn you of this every time you attempt to do so). When a skill of
                    this type comes up, there will be a button labeled "Execute Skill" that only shows up for Game
                    Masters. A Game Master can click this button to execute the special effects of the skill.
                </p>
            </div>
        </div>
    </div>
    <h2 class="collapse-header b-aqua" data-for="collapse-map" id="map" title="Click to hide/show.">
        The Battlemap & Combat
    </h2>
    <div class="collapsible active" id="collapse-map">
        <div class="image-wide section">
            <img src="/img/foundry-screenshots/battlemap.webp" height="711" width="788">
            <div class="description">
                A screenshot of a combat happening involving an adventuring party and a group of flame newts.
            </div>
        </div>
        <div class="section">
            <p>
                The battlemap is where you will spend most of combat. The Celestus system for Foundry introduces
                important features that allow for system-specific functionality and ease of play.
            </p>
            <div class="paired-content section">
                <div class="image-tall">
                    <img src="/img/foundry-screenshots/map/token-hover.webp" height="563" width="562">
                </div>
                <div class="flex5">
                    <h3 class="ul-aqua">Directionality</h3>
                    <p>
                        When playing Celestus using a map, the direction a character is facing may be relevant. In order
                        handle this, Celestus adds semi-transparent pointers to each token on the map that indicates the
                        direction it is facing. The direction of this pointer will automatically change to face the
                        direction the token moves. The pointer will also change direction when its character uses a
                        skill
                        that places a template or rolls an attack. You can manually readjust the direction a token is
                        facing by selecting it and pressing ctrl+alt+d which will cause the token to point towards
                        wherever your cursor is.
                    </p>
                    <h3 class="ul-aqua">Backstabs and Attack Range</h3>
                    <p>
                        Some skills are able to backstab, guaranteeing a critical strike if the attack hits.
                        Because of this, it is important to visualize where a token must be standing to be eligible to
                        backstab a creature. When you hover over a token, an overlay will appear. Part of this
                        overlay is a knife symbol and a blue cone. This blue cone represents the angle a
                        character must be within to backstab that token.
                    </p>
                    <p>
                        Many skills or effects will refer to a characters reach or "melee range". As Celestus is
                        designed to be played on a gridless map, it can be difficult to determine a character's reach
                        quickly. This is why part of the token hover overlay is a white circle that represents the
                        character's reach. Any token that dips into that circle is considered within the token's melee
                        range.
                    </p>
                </div>
            </div>
            <h3 class="ul-aqua">Teleporting</h3>
            <p>
                Some skills will allow a character to teleport. In order to avoid unwanted side effects, the Celestus
                system enables you to teleport tokens. Tokens can be teleported by using the teleportation keybind
                (ctrl+alt+t by default). You must first select a token before inputting the keybind. Once you have
                input it, a purple spinning wheel will follow your cursor until you left or right click on the
                canvas. Left clicking will finalize the teleport and right clicking will cancel the teleport.
            </p>
            <h3 class="ul-aqua">Your Character Resources</h3>
            <div class="image-wide">
                <img src="/img/foundry-screenshots/map/resources-ui.webp" width="510" height="156">
            </div>
            <p>
                The bottom right of the user interface contains a widget that displays all of a character's resources at
                a glance. The action point and focus point symbols in this widget function the same as they do on a
                character sheet. The armor and health values have text fields you can use to change the character's
                current value of that resource. If your input starts with an addition or subtraction it will instead add
                or subtract the following expression from the character's health / armor pool.
            </p>
            <h3 class="ul-aqua">Token Information</h3>
            <div class="image-wide">
                <img src="/img/foundry-screenshots/map/token-info.webp" width="651" height="180">
            </div>
            <p>
                When you're in combat, you may want to know the status of the combatants. To quickly view the state of a
                combatant you can mouse over the token. Doing so causes a widget to appear in the top center of the
                user interface. This widget contains the characters current and max armor and health as well as any statuses
                affecting them. If you want to "lock" this widget on a particular token you can right or middle click it
                (if you are the token's owner you must middle click).
            </p>
        </div>
    </div>
</div>