<h1 class="ul-aqua">Celestus Rules Overview</h1>
<div class="section">
    <h2 class="b-amber collapse-header" data-for="automation">A Note on Rules and Automation</h2>
    <div class="collapsible" id="automation">
        <p>
            This system was designed to be primarily played over a virtual tabletop, such as
            <a class="extern" href="https://foundryvtt.com/">Foundry Virtual Tabletop.</a> Many rules,
            especially those related to combat, may seem somewhat convoluted in execution or memorization because
            they were designed with automation in mind. This document is meant less as instructions for play and more as
            a reference to allow you to make more informed decisions when running or playing in a game of Celestus.
            If you would like to learn more about playing Celestus via foundry, check out the 
            <a class="extern" href="/content/foundry-guide">Foundry Guide</a>.
        </p>
        <p>
            While reading through the rules, you may (properly) assess that this system can be quite rules-dense at
            times,
            especially for combat. The system is intentionally rules light in terms of non-combat encounters and
            mechanics
            regarding role-play are meant as guidelines rather than highly enforced rules. The rules are meant to
            encourage
            and remind that you have the ability to do things, but are not meant as the full limits of a character's
            capabilities.
            Get creative with it!
        </p>
        <p>
            Rules pertaining to combat are more complex and many of them are intended to be handled by the platform you
            are playing the game on. It is intended to feel closer to that of a tactical role-playing-game that
            illustrates
            physical conflicts within the game. This isn't to say that characters should never attempt to bend the rules
            in
            creative ways, rather it is meant as a reminder that the combat rules are intentionally designed and to some
            degree a numbers game. Feel free to experiment with new rules, but keep in mind it may lead to less balanced
            play.
        </p>
    </div>
</div>
<div class="section" id="resources">
    <h2 class="b-aqua">Resources</h2>
    <p>
        There are many resources in Celestus and they cover a variety of aspects of gameplay, from surviving to acting
        in combat.
        Resources can be split into two categories, <strong class="rose">Vital</strong> and <strong
            class="amber">Action</strong> resources.
    </p>
    <h3 class="ul-rose" id="vital-resources">Vital Resources</h3>
    <h4 class="rose" id="health">Health (HP)</h4>
    <p>
        Health, often referred to as hit points or hp, is the primary resource that represents a character's vitality.
        Health is meant as a direct representation of a character's current well-being. A character at full health is
        presumed to be uninjured and a character with no health is on death's door.
    </p>
    <p>
        <strong class="rose">Max Hit Points</strong>
        are based off character level and a character's constitution score. To calculate a character's HP, use the
        <a class="content-link" data-uuid="Compendium.celestus.rules.swu6WZSRc6sYUxvg" data-id="swu6WZSRc6sYUxvg">
            base max HP
        </a>
        for their level and then multiply it by 1 + (0.07 &times; each point they have in constitution beyond 10).
        For example a level 9 character with 13 in constitution would have 235&times;(1+0.07&times;3)=284 max health.
    </p>
    <p>
        <strong class="rose">When a character is reduced to 0 hp:</strong>
        If a player character is reduced to 0 hp, they begin to die. A player character at 0 hp is incapacitated and
        considered dying. A dying character still takes damage and their hp value goes into the negatives. When a
        character reaches a hp value less than or equal to a negative of their max hp they die. A dying creature remains
        incapacitated until their current hp goes above 0 at which point they are no longer dying. Whenever a dying
        creature is healed in a way that stops them from dying, they gain one level of exhaustion.
    </p>
    <p>
        If a non-player character (NPC) is reduced to 0 hp, they die. The GM can choose to allow one or more NPCs to
        enter
        a dying state similar to players rather than outright die.
    </p>
    <h4 class="rose" id="armor">Armor</h4>
    <p>
        Armor is what stands between a character's health and damage being dealt to them. There are two types of armor
        in Celestus, physical and magic. Physical damage is blocked by physical armor and Magic damage types are
        blocked by magic armor. For a full list of damage types and the armor they are blocked by see the
        <a class="content-link" data-uuid="Compendium.celestus.rules.099jME2YXRgEoBm2" data-id="099jME2YXRgEoBm2">
            damage types table.
        </a>
        When a character would take damage, that damage is first subtracted from their armor
        values, and then any excess is applied to their health.
    </p>
    <p>
        The second function of armor is to protect against
        statuses. Many skills can apply statuses to characters and many statuses are resisted by either physical or
        magic armor. For example, if a skill would try to set bleeding but the target still has physical armor, they
        won't begin bleeding. Statuses are attempted to be applied after a target takes any damage from a skill, which
        may lead to a status applying that wouldn't have without the damage. A statuses description will say what
        type(s) of armor resist it. If none is specified, it can't be resisted by armor. The full list of statuses can
        be found in the <a href="/browse/rules">rules glossary.</a>
    </p>
    <h3 class="ul-amber" id="action-resources">Action Resources</h3>
    <h4 class="amber" id="action-points"><i class="fa-solid fa-circle ap-icon"></i> Action Points (AP)</h4>
    <p>
        Action points (represented as green circles) are the primary resource needed for using skills in initiative.
        Many skills require a certain
        amount of action points to use. While in initiative, a character must spend that many action points to use the
        skill, outside of initiative you can ignore these costs.
    </p>
    <p>
        Characters have a starting AP and max AP value. At the
        start of each character's turn they receive a number of action points equal to their starting value. A
        character can never have more action points than their max.
    </p>
    <h4 class="amber" id="focus-points"><i class="fa-solid fa-diamond fp-icon"></i> Focus Points (FP)</h4>
    <p>
        Focus points (represented as yellow diamonds) represent a character pulling on strength beyond their normal
        capacity. Focus points are spent in
        the same way action points are as some skills will require them as a cost. The main difference between action
        points and focus points is that they don't refresh every round, instead they refresh at the beginning of each
        <a class="content-link" data-uuid="Compendium.celestus.rules.EfufPpCvHHYaT2f5" data-id="EfufPpCvHHYaT2f5">
            scene.
        </a>
    </p>
    <p>
        <strong>Maximum Focus Points</strong> are determined by character level and are granted at
        <a class="content-link" data-uuid="Compendium.celestus.rules.W89BHxXTdhVkFTBL" data-id="W89BHxXTdhVkFTBL">
            levels 9, 11, and 13.
        </a>
    </p>
</div>
<div class="section" id="skills">
    <h2 class="b-aqua">Skills</h2>
    <p>
        <a href="/browse/skills/">Skills</a>
        are the basic building block of actions a character can take. From
        <a class="content-link" data-uuid="Compendium.celestus.skills.FzrRLQ24oBkEPUzT" data-id="FzrRLQ24oBkEPUzT">
            slinging fireballs
        </a>
        to
        <a class="content-link" data-uuid="Compendium.celestus.skills.mZqUDBC66HpdUvpf" data-id="mZqUDBC66HpdUvpf">
            crippling blows,
        </a>
        skills are used for all aspects of combat, and some aspects of role-play. Where some systems may have special
        features, spell-casting, or any other rules-driven approaches to granting abilities, Celestus uses a system
        called skills.
    </p>
    <h3 class="ul-aqua">Parts of a Skill</h3>
    <div class="embedded-description">
        <div style="width: 500px" class="dice-flavor celestus roll description ">
            <header class="summary">
                <div class="name-stacked">
                    <div class="title">Fireball</div>
                    <div class="subtitle">Magic (combat)</div>
                </div>
                <i class="icon-fireflake"></i>
            </header>
            <i class="fa-solid fa-circle ap-icon" aria-hidden="true"></i><i class="fa-solid fa-circle ap-icon"
                aria-hidden="true"></i>

            <div class="roll-tags">
                <div class="roll-tag">
                    <span class="name">
                        Tier:
                    </span>
                    Novice (Req. level 4)
                </div>
                <div class="roll-tag">
                    <span class="name">
                        School:
                    </span>
                    Flamespeaker
                </div>
                <div class="roll-tag">
                    <span class="name">
                        Requires:
                    </span>
                    Flamespeaker 2
                </div>
                <div class="roll-tag">
                    <span class="name">
                        Range:
                    </span>
                    90 ft.
                </div>
                <div class="roll-tag">
                    <span class="name">
                        Targets:
                    </span>
                    15 ft. Sphere
                </div>
                <div class="roll-tag">
                    <span class="name">
                        Cooldown:
                    </span>
                    4 rounds
                </div>
                <div class="roll-tag">
                    <span class="name">
                        Components:
                    </span>
                    V
                    S

                </div>
                <div class="roll-tag">
                    <span class="name">
                        Memory:
                    </span>
                    1
                </div>
                <div class="roll-tag">
                    <span class="name">
                        Source:
                    </span>
                    Leveling
                </div>
            </div>
            <div class="flavor">
                <p>You sling a orb of flame at a point you can see within range. It erupts into a plume of fire that
                    leaves
                    a burning surface in its wake. Each creature within a 15-foot radius of that point takes 100% Fire
                    Damage.</p>
                <p><span title="Copy to Clipboard" class="copy-the-code-shortcode" data-target="" data-button-text="★"
                        data-button-copy-text="Copied to Clipboard" data-content="★" data-copy-as="text" data-link=""
                        style="color:">★ </span>Sets <a class="content-link"
                        data-uuid="Compendium.celestus.rules.5WnOnUhH4LYfPLlZ" data-id="5WnOnUhH4LYfPLlZ"> Burning </a>
                    (Resisted by Magic Amor).</p>
            </div>
        </div>
    </div>
    <p>
        Above is an example of a skill description, this subsection will break down each individual component.
    </p>
    <h4 class="aqua">Skill Type</h4>
    <p>
        The type of a skill describes broadly how the skill functions and what contexts it is meant for. There are
        <a class="content-link" data-uuid="Compendium.celestus.rules.8LxL22YMGHnMZ8MW" data-id="8LxL22YMGHnMZ8MW">
            three types of skills</a>,
        split into two main categories, <strong>Civil</strong> and <strong>Combat</strong>. Civil skills are designed
        for use outside of combat and cannot be used in the heat of battle as they require too much time to execute.
        Combat skills are designed for combat and to be used in quick succession, felling foes and protecting allies.
    </p>
    <h4 class="aqua">Skill School</h4>
    <p>
        All skills belong to a "Skill School."
        <a class="content-link" data-uuid="Compendium.celestus.rules.bVS53wJUpbkPekh0" data-id="bVS53wJUpbkPekh0">
            These schools</a>
        all correspond to different combat abilities and place skills into general categories.
    </p>
    <h4 class="aqua">Skill Tier</h4>
    <p>
        <a class="content-link" data-uuid="Compendium.celestus.rules.wHJOjd5923zuwCZI" data-id="wHJOjd5923zuwCZI">
            A skill's tier</a>
        represents the prowess required to perform it and determines the level required to use it.
    </p>
    <h4 class="aqua">Action / Focus Points Cost</h4>
    <p>
        Skills may have an Action Point and/or Focus Point cost. If a skill has an action point cost, you must use that
        many action points in order to use the skill. The same goes for Focus Point costs. Action Point costs are
        meant for combat encounters primarily, but can be used in other scenarios if the GM chooses to.
    </p>
    <h4 class="aqua">Components</h4>
    <p>
        Components are the physical requirements for using a skill.
    </p>
    <ul class="compressed">
        <li>
            A skill with a <strong class="aqua">Verbal</strong> component requires the character to be able to speak in
            order to incant the skill.
        </li>
        <li>
            A skill with a <strong class="rose">Somatic</strong> component requires the character to have a free hand
            or a free weapon in order to perform physical motions for the skill.
        </li>
        <li>
            A skill with a <strong class="amber">Material</strong> component requires one or more objects in order
            for a character to perform the skill. One example of this is many Shroudstalker skills require a
            dagger as a material component.
        </li>
    </ul>
    <h4 class="aqua">Cooldown</h4>
    <p>
        A skill's cooldown is what determines how often you can use it. For a combat skill, its cooldown is measured in
        rounds and after using it you must wait an amount of rounds equal to its cooldown to use it again. For civil
        skills, any nonzero cooldown means that once it is used, you must complete a rest before using it again.
    </p>
    <h4 class="aqua">Memory</h4>
    <p>
        A skill's memory value is the number of memory slots required to
        <a class="content-link" data-uuid="Compendium.celestus.rules.QhCJDKsdeRydXlrm" data-id="QhCJDKsdeRydXlrm">
            memorize</a>
        the skill (This value is usually one).
    </p>
    <h4 class="aqua">Targets / Range</h4>
    <p>
        The target value of a skill describes what shape it targets (sphere, cone, creatures, self, etc.) and what size
        of that shape or how many creatures it targets.
        The range of a skill describes how far away your target can be.
    </p>
    <h4 class="aqua">Scaling Attribute</h4>
    <p>
        A damage dealing skill will specify if it scales with a certain attribute. If it does, you will use that
        attribute modifier when calculating your damage roll.
    </p>
</div>
<div class="section" id="attacks-damage">
    <h2 class="b-aqua">Attacks & Damage</h2>
    <p>
        Attack rolls and damage rolls are the gears that allow the machines that are skills to run combat. When playing
        through Foundry or another VTT, you will not be required to perform any of these calculations. This section is
        meant as a description and reference rather than a guide.
    </p>
    <h3 class="ul-amber collapse-header" data-for="attacks">Attacks</h3>
    <div class="collapsible" id="attacks">
        <p>
            Some skills, especially weapon skills, will instruct you to make a weapon attack or "Strike" a target.
            <br />There are three factors that affect an attack: the attacker's <strong>accuracy</strong>, the
            attacker's
            <strong>critical hit chance</strong> and the target's <strong>evasion</strong>. <br />To perform an attack,
            the
            attacking character makes a d100 test, the attack is a hit if the roll's result surpasses the attack's hit
            threshold <span class="code">(100 - [target's accuracy] + [target's evasion])</span>.
            If the attack hits, it becomes a critical hit if the roll's result surpasses the attacks' critical threshold
            <span class="code">(100 - [target's critical hit chance])</span>. It doesn't
            matter if an attack surpasses the critical threshold if it doesn't pass the hit threshold.
        </p>
    </div>
    <h3 class="ul-rose collapse-header" data-for="damage">Damage</h3>
    <div class="collapsible" id="damage">
        <p>
            There are two types of damage rolls in Celestus, <strong class="rose">weapon</strong> and
            <strong class="rose">magic</strong>. All damage in Celestus is displayed as a percentage rather than a
            number or
            dice formula. This is because all damage dealt is rolled as a formula based on character level and then
            multiplied based on some final damage scalar.
        </p>
        <h4 class="rose collapse-header" data-for="weapon-damage">Weapon Damage</h4>
        <p>
            Weapon damage uses a
            <a class="content-link" data-uuid="Compendium.celestus.rules.iHcTUezRISDslZar" data-id="iHcTUezRISDslZar">
                formula that corresponds to the handedness of the weapon</a>.
            A weapon's damage roll scalar is based off the weapon's efficiency and the strength/dexterity (depending on
            weapon) of the attacker. The weapon damage scalar formula is:
            <span class="code">[weapon efficiency]&times;(1+[elemental bonus])&times;(1+[character damage
                bonus]+[fighting
                style bonus])</span>
        </p>
        <h4 class="rose">Magic Damage</h4>
        <p>
            Magic damage uses
            <a class="content-link" data-uuid="Compendium.celestus.rules.ZAI3vnbUDstT5Pix" data-id="ZAI3vnbUDstT5Pix">
                a formula that scales purely off of level</a>.
            A skill will describe the base damage multiplier and the overall scalar can be calculated with the skill
            damage
            scalar formula: <span class="code">[base multiplier]&times;(1+[elemental bonus])&times;(1+[character damage
                bonus])</span>
        </p>
        <h4 class="rose">Critical Hits</h4>
        <p>
            When rolling damage for a critical hit, multiply the final value by the attacker's critical hit multiplier.
        </p>
    </div>
</div>
<div class="section" id="attributes">
    <h2 class="b-aqua">Attributes</h2>
    <p>Attributes, sometimes referred to as Primary Attributes, are
        <a class="content-link" data-uuid="Compendium.celestus.rules.S3EUjWbDbCFacOFo" data-id="S3EUjWbDbCFacOFo">
            six different scores</a>
        that represent a character's physical and mental characteristics.
    </p>
    <p>
        Attribute points are a character building currency that are invested into different primary attributes.
        Attributes all start with a base value of 10 and you cannot spend more than 30 points in an attribute (for a
        base total of 40).
    </p>
</div>
<div class="section" id="abilities">
    <h2 class="b-aqua">Abilities</h2>
    <p>
        Combat and Civil abilities determine your character's proficiency in different aspects of combat and civil
        encounters. Both types of abilities function as prerequisites for learning skills and provide bonuses to
        <a class="content-link" data-uuid="Compendium.celestus.rules.RhLk5CMny3L5KM6w" data-id="RhLk5CMny3L5KM6w">
            Ability Checks</a>.
    </p>
    <p>
        <strong>Civil Abilities</strong> are used solely to determine modifiers for Ability Checks and
        skill prerequisites.
        <br />
        <strong>Combat Abilities</strong> provide unique bonuses to different aspects of combat
        based on your total ability score.
    </p>
    <h3 class="ul-amber">Civil Abilities</h3>
    <table>
        <tbody>
            <tr>
                <td>
                    <h3>Ability</h3>
                </td>
                <td>
                    <h3>Bonus</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <p><i class="icon-pay-money"></i> <strong>Scoundrel</strong></p>
                </td>
                <td>
                    <p>Hiding, lock picking, and other sleight of hand.</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><i class="icon-book-cover"></i> <strong>Lore</strong></p>
                </td>
                <td>
                    <p>Recalling relevant information and finding meaning in passages.</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><i class="icon-linden-leaf"></i> <strong>Nature</strong></p>
                </td>
                <td>
                    <p>Finding your way through the wilds, tracking creatures, knowledge of wildlife.</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><i class="icon-lyre"></i> <strong>Influence</strong></p>
                </td>
                <td>
                    <p>Changing the opinions of those around you, deceiving others, and performing.</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><i class="icon-angel-outfit"></i> <strong>Religion</strong></p>
                </td>
                <td>
                    <p>Knowledge of religious practices and attuning yourself to spiritual processes.</p>
                </td>
            </tr>
        </tbody>
    </table>
    <h3 class="ul-rose">Combat Abilities</h3>
    <table>
        <tbody>
            <tr>
                <td>
                    <h3>Ability</h3>
                </td>
                <td>
                    <h3>Bonus</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <p><i class="icon-gladius"></i> <strong>Dueling</strong></p>
                </td>
                <td>
                    <p>When using a single one-handed weapon: +5% weapon damage , +5% accuracy</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><i class="icon-crossed-swords"></i> <strong>Dual Wielding</strong></p>
                </td>
                <td>
                    <p>When using two one-handed weapons: +5% weapon damage, +1% evasion</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><i class="icon-sharp-axe"></i> <strong>Heavy-Handed</strong></p>
                </td>
                <td>
                    <p>When using a two-handed melee weapon: +5% weapon damage, +5% critical hit damage</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><i class="icon-crossbow"></i> <strong>Marksman</strong></p>
                </td>
                <td>
                    <p>When using a two-handed ranged weapon: +5% weapon damage, +1% critical hit chance</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><i class="icon-spiked-shoulder-armor"></i> <strong>Retributive</strong></p>
                </td>
                <td>
                    <p>Reflect 5% of incoming damage back to your attacker</p>
                </td>
            </tr>
            <tr style="background-color: var(--color-fire-dark-bg);">
                <td>
                    <p><i class="icon-fireflake"></i> <strong>Flamespeaker</strong></p>
                </td>
                <td>
                    <p>+5% Fire damage</p>
                </td>
            </tr>
            <tr style="background-color: var(--color-water-dark-bg);">
                <td>
                    <p><i class="icon-waves"></i> <strong>Tidecaller</strong></p>
                </td>
                <td>
                    <p>+5% Water damage, Healing, and Magic Armor healing</p>
                </td>
            </tr>
            <tr style="background-color: var(--color-air-dark-bg);">
                <td>
                    <p><i class="icon-fluffy-cloud"></i> <strong>Stormseeker</strong></p>
                </td>
                <td>
                    <p>+5% Air damage</p>
                </td>
            </tr>
            <tr style="background-color: var(--color-earth-dark-bg);">
                <td>
                    <p><i class="icon-stone-sphere"></i> <strong>Duneshaper</strong></p>
                </td>
                <td>
                    <p>+5% Earth damage, Poison damage, and Physical Armor healing</p>
                </td>
            </tr>
            <tr style="background-color: var(--color-psychic-dark-bg);">
                <td>
                    <p><i class="icon-psionics"></i> <strong>Voidcantor</strong></p>
                </td>
                <td>
                    <p>+5% Psychic damage</p>
                </td>
            </tr>
            <tr style="background-color: var(--color-piercing-dark-bg);">
                <td>
                    <p><i class="icon-death-zone"></i> <strong>Deathbringer</strong></p>
                </td>
                <td>
                    <p>Heal for 10% of damage dealt</p>
                </td>
            </tr>
            <tr style="background-color: var(--color-shadow-dark-bg);">
                <td>
                    <p><i class="icon-nested-eclipses"></i> <strong>Shroudstalker</strong></p>
                </td>
                <td>
                    <p>+5% Critical hit damage, +5% movement speed</p>
                </td>
            </tr>
            <tr style="background-color: var(--color-phys_armor-dark-bg);">
                <td>
                    <p><i class="icon-wolf-howl"></i> <strong>Formshifter</strong></p>
                </td>
                <td>
                    <p>You gain 1 unspent attribute points</p>
                </td>
            </tr>
            <tr style="background-color: var(--color-poison-dark-bg);">
                <td>
                    <p><i class="icon-pocket-bow"></i> <strong>Huntmaster</strong></p>
                </td>
                <td>
                    <p>+5% damage to marked targets</p>
                </td>
            </tr>
            <tr style="background-color: var(--color-physical-dark-bg);">
                <td>
                    <p><i class="icon-axe-sword"></i> <strong>Warlord</strong></p>
                </td>
                <td>
                    <p>+5% Physical damage</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="section" id="origins">
    <h2 class="b-aqua">Origins</h2>
    <p>
        Character origins represent who characters are before and as they begin their adventure.
        There are three main components to an origin: <strong class="aqua">Ancestries</strong>,
        <strong class="amber">Backgrounds</strong>, and <strong class="rose">Professions</strong>.
    </p>
    <h3 class="ul-aqua">Ancestries</h3>
    <p>
        Ancestries represent a character's heritage and their ties to their blood kin. Some examples include Human,
        Elf, and Dwarf. Ancestries may grant skills, ability bonuses, or other features.
    </p>
    <p>
        <strong class="aqua">Mixed Ancestries.</strong> You may have a character who's parents of different ancestries.
        If this is the case, choose a single ancestry of the two to gain benefits from, you can choose to flavor your
        character however you want beyond those mechanical benefits.
    </p>
    <h3 class="ul-amber">Backgrounds</h3>
    <p>
        Backgrounds represent who your character was before they became an adventurer. These often have very little
        quantitative benefits, merely granting a +1 bonus to one civil ability. The heart of backgrounds is in the "You
        can always..." section.
    </p>
    <h4 class="amber collapse-header" data-for="you-can-always">You Can Always...</h4>
    <div class="collapsible" id="you-can-always">
        <p>
            Some features (mainly backgrounds and professions) have a section titled "You can always..." This is a list
            of actions your character is considered capable of without needing to roll any dice. In order to push the
            limits of these or use them under extraneous circumstances your GM may require you to make an ability check.
        </p>
        <p>
            These are invitations, not instructions. If your character "can always tell which direction is north," how
            can they do that? Do they have a handy compass they always carry with them? Or maybe they look towards the
            sun and stars for guidance. What if you're underground without your tools though? Maybe there's something
            about on the walls of the ruins that allows you to identify which direction they were facing. Get creative
            with it.
        </p>
    </div>
    <h3 class="ul-rose">Professions</h4>
    <p>
        Professions represent the skills your character maintains as they begin their adventure. These are the closest
        thing this system has to traditional "character classes". Are you a powerful Warrior who strikes down foes with
        their martial prowess? Or perhaps you are Pactbound, owing your magic to a powerful entity. Professions are
        meant as an essential building block for your character's mechanical direction. Professions also have "You can
        always..." RP tools that follow the same rules as those in Backgrounds.
    </p>
</div>
<div class="section">
    <h2 class="b-aqua">Once You're Done Here</h2>
    <p>
        Now that you know the basics of playing, you're ready to get started with
        <a href="/content/character-creation">character creation</a>.
        If you have any further questions on specific rules, you can search for them in the
        <a href="/browse/rules/">rules glossary</a>.
    </p>
</div>