<header>
    <h1>Filter</h1>
    <button><i class="fa-solid fa-check"></i></button>
</header>
<div class="form-content">
    <h1>Type</h1>
    <input name="type.Rule" type="checkbox" id="type.Rule" class="hidden-check"
        data-value="Rule" data-field="type"></input>
    <label for="type.Rule" class="form-toggle">
        Rule
    </label>
    <input name="type.Status" type="checkbox" id="type.Status" class="hidden-check"
        data-value="Status" data-field="type"></input>
    <label for="type.Status" class="form-toggle">
        Status
    </label>
</div>
<footer class="form-submit">
    <button>Submit</button>
</footer>