<div class="dice-flavor celestus roll description">
    <header class="summary">
        <div class="name-stacked">
            <div class="title">{{name}}</div>
            <div class="subtitle">
                Loot
            </div>
        </div>
    </header>
    <div class="roll-tags">
        {{> './templates/descriptions/parts/item-base-details.hbs'}}
    </div>
    {{#if flavor}}{{{flavor}}}{{/if}}
</div>