<div class="dice-flavor celestus roll description">
    <header class="summary">
        <div class="name-stacked">
            <div class="title">{{name}}</div>
            <div class="subtitle">{{item.type}}</div>
        </div>
    </header>
    {{#if flavor}}{{{flavor}}}{{/if}}
</div>