<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/description.css">
    <link rel="stylesheet" type="text/css" href="/css/glyphter.css">
    {{> "./templates/parts/js-includes.hbs"}}
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <title>{{title}}</title>
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Celestus Rules - {{title}}" />
    <meta name="twitter:description" content="Celestus Rules / Reference Database" />
    <meta property="og:url" content="https://celestus.info/content/{{path}}" />
    <meta property="og:image" content="https://celestus.info/img/card.webp" />
    <meta property="twitter:image" content="https://celestus.info/img/card.webp" />
</head>

<body>
    {{> "./templates/parts/navigation.hbs"}}
    <div class="content">
        {{{ content }}}
    </div>
</body>