<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/description.css">
    <link rel="stylesheet" type="text/css" href="/css/glyphter.css">
    {{> "./templates/parts/js-includes.hbs"}}
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <title>Celestus vTTRPG</title>
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Celestus Rules Compendium" />
    <meta name="twitter:description" content="Celestus Rules / Reference Database" />
    <meta property="og:url" content="https://rules.crowsnest.me/" />
    <meta property="og:image" content="https://rules.crowsnest.me/img/card.webp" />
    <meta property="twitter:image" content="https://rules.crowsnest.me/img/card.webp" />
</head>

<body>
    {{> "./templates/parts/navigation.hbs"}}

    <div class="content">
        <div class="home-nav">
            <div class="span-stripe flexrow">
                <h1 class="ul-aqua inline flex3">Rules</h1>
                <h1 class="ul-amber inline flex5">Compendiums</h1>
            </div>
            <div class="span-content flexrow">
                <a class="btn aqua" href="/content/quickstart/">
                    <i class="fa-solid fa-info"></i>
                    <label>Rules Overview</label>
                </a>
                <a class="btn aqua" href="/content/character-creation/">
                    <i class="fa-solid fa-user"></i>
                    <label>Character Creation</label>
                </a>
                <a class="btn aqua" href="/browse/rules/">
                    <i class="fa-solid fa-book"></i>
                    <label>Glossary</label>
                </a>
                <a class="btn amber" href="/browse/ancestries/">
                    <i class="fa-solid fa-tree"></i>
                    <label>Ancestries</label>
                </a>
                <a class="btn amber" href="/browse/backgrounds/">
                    <i class="fa-solid fa-address-card"></i>
                    <label>Backgrounds</label>
                </a>
                <a class="btn amber" href="/browse/professions/">
                    <i class="fa-solid fa-hat-wizard"></i>
                    <label>Professions</label>
                </a>
                <a class="btn amber" href="/browse/skills/">
                    <i class="fa-solid fa-wand-magic-sparkles"></i>
                    <label>Skills</label>
                </a>
                <a class="btn amber" href="/browse/talents/">
                    <i class="fa-solid fa-hand-sparkles"></i>
                    <label>Talents</label>
                </a>
            </div>
        </div>
        <div class="section">
            <h2>What is Celestus?</h2>
            <p>Celestus is a virtual Tabletop Role Playing Game (vTTRPG) designed to be played with Foundry VTT. It
                takes inspiration from systems such as D&D5e, Pathfinder, Wanderhome, and CRPGs such as Divinity:
                Original Sin. The combat system most closely matches that of Divinity: Original Sin 2, and the
                roleplaying tools most closely match Wanderhome and Dungeons and Dragons. Celestus forgoes a traditional
                “Class” system in order to offer dynamic and highly customizable gameplay, creating a Choose Your Own
                Adventure out of character creation.</p>
        </div>
        <div class="section">
            <h2>Getting Started?</h2>
            <p>
                Interested in Celestus but don't know where to start? Head to <a href="/content/quickstart">the
                Rules Overview page</a>. Once you're done there you can look through <a href="/content/character-creation">
                the character creation process</a>, the <a href="/browse/rules/">glossary</a>, and the many compendiums.
            </p>
            <p>
                If you have any questions or want to find other players, feel free to check out the discord.
            </p>
        </div>
        <div class="section">
            <h2>Discord</h2>
            <p>If you have any questions, would like to speak with the creator, or would like to find games to play in,
                head over to the discord at <a href="https://discord.gg/cKkBaxzv5e">discord/cKkBaxzv5e</a>.
            </p>
        </div>
        <div class="section">
            <h2>Foundry</h2>
            <p>
                If you use FoundryVTT and would like to play Celestus, use
                <a href="https://github.com/egrosenberg/celestus/releases/latest/download/system.json">this</a> system
                manifest link to install the Celestus module.
            </p>
        </div>
    </div>
</body>