<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/description.css">
    <link rel="stylesheet" type="text/css" href="/css/glyphter.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/helpers.js"></script> 
    <script src="/js/skill-browser.js"></script> 
</head>

<body>
    <div class="navigation">
        <img class="logo" src="assets/pillars.svg" alt="Celestus Logo" />
        <span class="title">Celestus</span>
        <span class="subtitle">Skills Compendium</span>
    </div>

    <div class="content">
        <div class="browser" id="skill-list">
            {{{ skillsList }}}
        </div>
        <div class="description" id="description">
            {{{description}}}
        </div>
    </div>
</body>