<div class="navigation">
    <img class="logo" src="https://rules.crowsnest.me/img/pillars.svg" alt="Celestus Logo" />
    <span class="title">Celestus</span>
    <span class="subtitle">Rules Compendium</span>
    <ul class="tabs">
        <li class="tab-container">
            <a href="#" data-dest="/" class="tab direct" role="button">Home</a>
        </li>
        <li class="tab-container">
            <a href="#" class="tab dropdown" role="button" aria-expanded="false">Rules</a>
            <ul class="dropdown-menu" role="menu" style="display: none;">
                <li class="dropdown-item" role="presentation" data-dest="#">Quick Start</li>
                <li class="dropdown-item" role="presentation" data-dest="#">Glossary</li>
            </ul>
        </li>
        <li class="tab-container">
            <a href="#" class="tab dropdown" role="button" aria-expanded="false">Compendiums</a>
            <ul class="dropdown-menu" role="menu" style="display: none;">
                <li class="dropdown-item" role="presentation" data-dest="/skills/">Skills</li>
                <li class="dropdown-item" role="presentation" data-dest="/skills/">Placeholder</li>
            </ul>
        </li>
    </ul>
</div>