<div class="navigation">
    <img class="logo" src="https://rules.crowsnest.me/img/pillars.svg" alt="Celestus Logo" />
    <span class="title">Celestus</span>
    <span class="subtitle">Rules Compendium</span>
    <ul class="tabs">
        <li class="tab-container">
            <a href="#" data-dest="/" class="tab direct" role="button">Home</a>
        </li>
        <li class="tab-container">
            <a href="#" class="tab dropdown" role="button" aria-expanded="false">Rules</a>
            <ul class="dropdown-menu" role="menu" style="display: none;">
                <li class="dropdown-item" role="presentation" data-dest="/content/quickstart/">Quick Start</li>
                <li class="dropdown-item" role="presentation" data-dest="/content/character-creation/">Character Creation</li>
                <li class="dropdown-item" role="presentation" data-dest="/browse/rules/">Glossary</li>
            </ul>
        </li>
        <li class="tab-container">
            <a href="#" class="tab dropdown" role="button" aria-expanded="false">Compendiums</a>
            <ul class="dropdown-menu" role="menu" style="display: none;">
                <li class="dropdown-item" role="presentation" data-dest="/browse/ancestries/">Ancestries</li>
                <li class="dropdown-item" role="presentation" data-dest="/browse/backgrounds/">Backgrounds</li>
                <li class="dropdown-item" role="presentation" data-dest="/browse/professions/">Professions</li>
                <li class="dropdown-item" role="presentation" data-dest="/browse/skills/">Skills</li>
                <li class="dropdown-item" role="presentation" data-dest="/browse/talents/">Talents</li>
            </ul>
        </li>
        <li class="search-bar">
            <input type="search" class="search-input" id="search-input" placeholder="Search All Rules..."></input>
            <button class="search-submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            <ul class="search-results" id="search-results"></ul>
        </li>
    </ul>
</div>
<div id="overlay"></div>