<header>
    <div class="input">
        <button class="filter-button"><i class="fa-solid fa-filter"></i></button>
        <input type="text" class="list-input" id="list-input"></input>
    </div>
    <div class="list-header">
        <label class="name" data-sort="name">Name</label>
        <label class="thin" data-sort="ap">AP</label>
        <label class="thin" data-sort="fp">FP</label>
        <label data-sort="tier">
            Tier
        </label>
        <label class="school" data-sort="school">
            School
        </label>
    </div>
</header>
<ul class="list" id="item-list">
    {{> "./templates/skills/list.hbs"}}
</ul>